@import url('https://fonts.googleapis.com/css?family=Text+Me+One&display=swap');

body{
  height: 100%;
  margin-top: -10px;
}

.grid{
  width: 100vw;
}

.header{
  color: white;
  font-family: 'Text Me One', sans-serif;
  font-size: 1.5em;
}

.header:hover{
  color: black;
}

.prev-btn{
  color: white;
}

.prev-btn:hover{
  color: black;
}

.next-btn{
  color: white;
}

.next-btn:hover{
  color: black;
}

.progress-area{
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.progress{
  width: 85%;
  height:1px;
  margin: 0 auto;
  margin-top: 10px;
}

.progress-text{
  font-family: 'Text Me One', sans-serif;
  font-size: 0.8em;
  color: #fef;
}


.weatherlocal{
  font-family: 'Text Me One', sans-serif;
  font-size: 0.8em;
  color: #fef;
  

}

.day-name{
  font-family: 'Text Me One', sans-serif;
  font-size: 1em;
  font-weight: 500;
  float:right;
  margin-top: -15px;
}

.day-date{
  font-family: 'Text Me One', sans-serif;
  width:50%;
  font-size: 2.3em;
  font-weight:250;
 }

.sunday{
  background-image: radial-gradient( circle 961px at 3% 6.3%,  rgba(251,135,43,1) 0%, rgba(217,224,33,1) 100.2% );
  color: #ff2500 !important;
}

.day {
  outline: none;
  width: 40px;
  height: 40px;
  font-size: 0.6em;
  padding:2px;
  margin: 1px;
  color: black;
  border:0;
  border-bottom: 2px solid black;
}

.t{
  background: transparent;
}

.day:hover {
  background: rgba(0,200,55,0.3);;
  -webkit-box-shadow: inset 0px 0px 4px -2px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 4px -2px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 4px -2px rgba(0,0,0,1);
  color:black;
  /*border: 1px solid white;*/
}

.week {
  outline: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin-top: 5px;
  /*border: 1px solid;*/
}

.week:hover {
  background: rgba(0,0,0,0.2);
  border: 0;
  border-radius: 10px;
  outline: none;
}

.fifthweek{
  /*padding: 5px;*/
  /*border: 0.001em solid rgba(140,190,190,0.5);*/
  width: 90%;
  justify-content: space-between;
  display: flex;
}

.week-days{
  /*padding: 5px;*/
  width: 90%;
  justify-content: space-between;
  display: flex;
}

.week-btn{
  -webkit-box-shadow: 0px 0px 4px -3px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 4px -3px rgba(0,0,0,1);
  box-shadow: 0px 0px 4px -3px rgba(0,0,0,1);

  width: 20px;
  background: linear-gradient(180deg, #efd5ff 0%, #515ada 100%);

  border-radius: 10px;
  padding:2px;
  margin: 3px;
  outline: none;
  border:0;
}

.week-btn:hover{
  background: black;
  color: white;
}

.week-hours{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 420px;
  align-content: flex-start;
}

.month {
  padding: 5px;
  width: 100vw;
  /*margin: 10px;*/
  background: linear-gradient(360deg, #efd5ff 0%, #515ada 100%);
}

.monthdays {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px;
  margin-top: -10px;
}


.App {
  font-family: sans-serif;
  text-align: center;
}

.today{
  background: black;
  color: white;
}

.center{
  text-align: center;
  border: 1px solid red;
}

.monthTop{
  display: flex;
  justify-content: space-between; 
}

.button{
  background: transparent;
  font-size: 1.2em;
  border: 0;
}

.toggled{
  background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.content-wrapper{
    display:block;
    transition: display 2s linear 0s;
    margin-left: -7px;
    margin-top: 1px;
    padding: 5px;
}

.pView{
  width: 100%;
}

.hour{
  outline: none;
  width: 40px;
  height: 15px;
  border: 1px solid black;
  font-size: 0.6em;
  padding:2px;
  margin: 1px;
  background: transparent;
}

.hour:hover{
  background: yellow;
}

.week-hours{
  outline: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
