.day-name{
  float:right;
  margin-top: -5px;
}

.day-date{
  width:50%;
  font-weight:800;
 }

.sunday{
  background: rgba(190,255,155,0.9);
  color: black;
}

.day {
  outline: none;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 0.6em;
  padding:2px;
  margin: 1px;
}

.week {
  outline: none;
  display: flex;
  float: right;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2px;
  width: 100%;
}

.week:hover {
  background: rgba(90,210,90,0.5);
  border: 0;
  outline: none;
}

.week-btn{
  background: transparent;
  width: 20px;
  padding:2px;
  margin: 3px;
  outline: none;
}

.week-btn:hover{
  background: lime;
  color: black;
}

.week-btn p{
}

.week-days{
  background:  rgba(200,250,155,0.5);
}

.week-hours{
  display: flex;
  background:  rgba(200,250,155,0.5);
  flex-direction: column;
  flex-wrap: wrap;
  height: 420px;
  align-content: flex-start;
}

.month {
  padding: 5px;
  width: 361px;
  margin: 10px;
  background: rgba(190,250,155,0.2);  
}

.monthdays {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 92.5%;
  margin: 0 auto;

  margin-top: -10px;
}

.day:hover {
  background: rgba(255,200,55,0.9);;
  color:black;
  border: 1px solid white;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.today{
  background: black;
  color: white;
}

.center{
  text-align: center;
  border: 1px solid red;
}

.monthTop{
  display: flex;
  justify-content: space-between;
 
}

.button{
  background: transparent;
  font-size: 1.2em;
  border: 0;
}

.arrow{
  /*background: rgba(190,250,155,0.5)*/
}

.arrow:hover{
  /*background: rgba(190,250,155,0.8)*/
  color: white;
}

.toggled{
  background: lightgreen;
}

.content-wrapper{
    display:block;
    transition: display 2s linear 0s;
    margin-left: -7px;
    margin-top: 1px;
    padding: 5px;
}

.pView{
  width: 100%;
}

.hour{
  outline: none;
  width: 40px;
  height: 15px;
  border: 1px solid black;
  font-size: 0.6em;
  padding:2px;
  margin: 1px;
 
  background: transparent;
}

.hour:hover{
  background: yellow;
}

.week-hours{
  outline: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background:  rgba(200,250,155,0.5);

}
.progress{
  width: 100%;
  height: 40px;
  margin: 0 auto;
  margin-top: -42px;
}
