@import url("https://fonts.googleapis.com/css?family=Text+Me+One&display=swap");

.header {
    color: salmon;
    font-family: "Text Me One", sans-serif;
    font-size: 1.5em;
}

.header:hover {
    color: black;
}

.prev-btn {
    color: black;
}

.prev-btn:hover {
    color: salmon;
}

.next-btn {
    color: black;
}

.next-btn:hover {
    color: salmon;
}

.progress-area {
    height: 1px;
}

.progress {
    height: 1px;
    margin: 0 auto !important;
}

.progress-text {
    font-family: "Text Me One", sans-serif;
    font-size: 0.8em;
    color: black;
    float: right;
}

.weatherlocal {
    font-family: "Text Me One", sans-serif;
    font-size: 0.8em;
    color: #f00;
}

.day-name {
    margin-top: -12px;
    font-weight: 100;
    font-size: 2vw;
}

.day-date {
    font-family: "helvetica", sans-serif;
    font-size: 4vw;
}

.sunday {
    color: darkslategrey !important;
    background: lightblue;
    outline: none;
    padding: 5px;
    margin: 1px;
    color: white;
    border: 1px solid darkslategray;
}

.day {
    width: 11vw;
    height: 7vh;
    padding: 5px;
    margin: 1px;
}

.t {
    /* background: transparent; */
}

.day:hover {
    background: rgba(6, 39, 2, 0.884);
    -webkit-box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 1);
    color: lightgreen !important;
}

.week:hover {
    background: rgba(255, 223, 228, 0.521);
    border: 0;
    border-radius: 10px;
    outline: none;
}

.fifthweek {
    padding: 5px;
    margin-top: 5px;
}

.week-days {
    margin: 5px;
}

.week-btn {
    -webkit-box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 4px -3px rgba(0, 0, 0, 1);

    width: 20px;
    background: linear-gradient(180deg, #efd5ff 0%, #515ada 100%);

    border-radius: 10px;
    padding: 2px;
    margin: 3px;
    outline: none;
    border: 0;
}

.week-btn:hover {
    background: black;
    color: white;
}

.week-hours {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 420px;
    align-content: flex-start;
}

.month {
    padding: 5px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.monthdays {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    padding: 15px;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.today {
    color: orangered;
    background: transparent;
}

.center {
    text-align: center;
    border: 1px solid red;
}

.monthTop {
    display: flex;
    justify-content: space-between;
}

.button {
    background: transparent;
    font-size: 1.2em;
    border: 0;
}

.toggled {
    background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}

.pView {
    margin: 0 auto;
    display: grid;
    width: 100%;
}

.hour {
    outline: none;
    width: 40px;
    height: 15px;
    border: 1px solid black;
    font-size: 0.6em;
    padding: 2px;
    margin: 1px;
    background: transparent;
}

.hour:hover {
    background: yellow;
}

.week-hours {
    outline: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
